:root {
    --orange: #FAB700;
    --bg: #041529;
    --bg-darker: #020b16;
    --secondary: #a99a6f;
    --text: #705e2a;
    --red: #690000;
    --green: #006905;
    --black: #a99a6f;
    --cold: #a99a6f;
    --hot: #690000;
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    font-size: 42px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0fr auto 0fr;
    text-align: center;
    gap: 5px;
    padding: 5px;
}

h1,h2,h3,h4,h5 {padding: 0; margin: 0; font-weight: 500;}

h4 {color: var(--secondary);}

.logo {
    background: url('../image/sbi-casino.png');
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.left {
    place-content: end;
    color: var(--cold);
}

.right {
    color: var(--hot);
}

.smaller {
    font-size: 0.8em;
}

.number {
    color: var(--bg);
    font-size: 2em;
    font-weight: 600;
}

.number > div {
    display: inline-block;
    width: 121px;
    margin-top: 20px;
    border-radius: 25px;
    padding: 0 0 5px 0;
    background-color: var(--cold);
}

.right .number > div {
    background-color: var(--hot);
}

.middle {
    font-size: 3em;
    border-right: 5px solid var(--secondary);
    border-left: 5px solid var(--secondary);
    line-height: .8;
    font-weight: 500;
    padding: 0 30px;
    background-color: var(--bg-darker);
}
.middle div {
    margin: 10px;
}
.middle > .black {text-align: right;}
.middle > .red {text-align: left;}

.bets {
    grid-column: 1 / span 3;
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
    color: var(--black);
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.refade {
    animation-name: refade;
    animation-duration: 1s;
}
@keyframes refade {
    0%, 100% {opacity: 1;}
    25%, 50% {opacity: 0;}
}

.no-more {
    color: var(--red);
}

.footer {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-weight: 600;
    z-index: 3;
    background-color: var(--bg);
}

.footer > div:nth-child(-n+7) {
    background-color: var(--text);
    color: var(--bg);
}

.footer > div:nth-child(n+8) {
    color: var(--text);
}
#red {background-color: var(--red);}
#zero {background-color: var(--bg); color: var(--green);}
#black {background-color: var(--black);}
.black {color: var(--black)!important;}
.red { color: var(--red)!important;}
.green {color: var(--green)!important;}

 /* Popup */

 .jumbo {
    font-size: 5em;
    line-height: 0.9;
    margin-top: -45px;
}

.small {
    font-size: 0.4em;
    color: var(--secondary);
}

.bonus-outer {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
.bonus-content {
    position: fixed;
    background: transparent url(../image/bonus330.png) no-repeat top center;
    right:0;
    bottom: -55%;
    padding-top: 300px;
    width: 33%;
    color: var(--bg);
    font-weight: 600;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
@keyframes up {
    from {bottom: -55%;}
    to {bottom: 5%;}
}
@keyframes down {
    from {bottom: 5%;}
    to {bottom: -55%;}
}

.bonus-content > div {
    margin: auto;
    color: var(--text);
    width: 150px;
}

.bonus-content > div:nth-child(odd) {
    height: 150px;
    border-radius: 50%;
    background-color: var(--black);
    font-size: 2.5em;
}

.bonus-content > div:nth-child(even) {
    height: 50px;
    border: 0px;
    margin-bottom: 30px;
}

.modal {
    opacity: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.modal-content {
    position: fixed;
    font-size: 5rem;
    font-weight: 600;
    background-color: var(--bg);
    top: 30%;
    left: 50%;
    padding: 20px;
    border: 1px solid var(--secondary);
    width: 80%; /* Could be more or less, depending on screen size */
    transform: translate(-50%, -30%);
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fade-out {
    from {opacity: 1;}
    to {opacity: 0;}
}